
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SegFy - Página não encontrada</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/scripts")

</head>
<body class="single">
    <div class="d-table w-100 h-100">
        <div class="d-table-cell align-middle pb-5">
            <div class="row justify-content-center">
                <div class="col-10 col-sm-7">
                    <div class="bg-white m-1 shadow rounded">
                        <div class="p-3">
                            <h1 class="display-1">404</h1>
                            <h2>Página Não Encontrada</h2>
                            <p>A página que está tentando acessar não foi localizada ou não existe.</p>
                            <a href="#" class="btn btn-primary" onclick="window.history.go(-1)">Voltar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

