<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
<connectionStrings>
  <add name="SegFyDBEntities" connectionString="metadata=res://*/Data.DataBaseModel.csdl|res://*/Data.DataBaseModel.ssdl|res://*/Data.DataBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\SQLExpress;initial catalog=SegFyDB;user id=sa; password=deFR741;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>